.main_div_of_model_body {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.main_div_of_form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.input_filed_div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.input_filed_div > label {
  font-size: 18px;
  font-family: "BeVietnamPro-SemiBold";
  color: var(--main-background-color-dark-green);
}
.input_field_box {
  width: 100%;
  height: 40px;
  border: 1px solid var(--main-background-color-dark-green);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_field_box > select,
.input_field_box > input {
  width: 98%;
  height: 90%;
  outline: none;
  border: none;
  background-color: transparent;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.PhoneInput,
.PhoneInputInput {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent !important;
  padding-left: 10px;

  font-family: "BeVietnamPro-Regular";
  font-size: 14px;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
