.heding_div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

/* ? searbar==-- */

.search_main_div {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  /* background-color: var(--main-background-color-dark-green); */
  background-color: var(--primary-color-lightgreen);

  border-radius: 10px;
}
.input_box {
  width: 80%;
  height: 80%;
}
.input_box > input {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;
}
/* ? searbar==-- */
.secondary_btn {
  background-color: var(--main-background-color-dark-green);
  padding: 10px 20px;
  color: var(--primary-color-lightgreen);
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.secondary_btn:hover {
  transform: translate(1);
  background-color: var(--primary-color-lightgreen) !important;
  color: var(--main-background-color-dark-green);
}
/* .tabell_bo {
  width: 100%;
} */

.pagination_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*? Hover effect on pagination items */
.page-link:hover {
  background-color: black !important;
  color: white !important;
}
.page-link:focus {
  background-color: black !important;
  color: white !important;
}

/*? Active pagination item styling */
/* .pagination_div .mdbpagination .mdbpaginationitem.active .mdbpaginationlink {
} */

.active > .page-link {
  background-color: var(--primary-color-lightgreen) !important;
  color: white !important;
}

/* .table_body_user {
  height: 70%;
  overflow: scroll;
} */

.table_body_user {
  display: block;
  max-height: 80%;
  width: 101%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.table_body_user::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.tabell_bo.table_body_user {
  overflow-x: auto; /* Enable horizontal scrolling */
  display: block; /* Makes sure the div behaves as a block-level element */
}
.totoalpage_show_div > p {
  margin: 0;
}
@media screen and (max-width: 600px) {
  .heding_div {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .search_main_div {
    width: 250px;
    height: 40px;
  }
}

.main_img_Group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-wrapper {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
