.main_change_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.pass_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.oldpass > label {
  color: var(--font-black-colour);
  font-family: "BeVietnamPro-Regular";
  font-size: 14px;
}
.old_pass_input_div {
  width: 300px;
  height: 30px;
  border: 1px solid var(--font-black-colour);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
  border-radius: 6px;
}
.old_pass_input_div > input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--font-black-colour);
  font-family: "BeVietnamPro-Regular";
  font-size: 14px;
}

.btn_of_delte_model {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* margin: 0rem 1rem 0rem 0rem; */
}

/* @ otp model  */

.OTP_main_div {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.otp_enter_div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.otp_enter_div > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.otp_enter_div > div > input {
  width: 40px !important;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color-lightgreen) !important;
  font-size: 20px;
  font-family: "BeVietnamPro-Bold";
  color: var(--primary-color-lightgreen) !important;
  outline: var(--primary-color-lightgreen) !important;
}
@media screen and (max-width: 450px) {
  .otp_enter_div > div > input {
    width: 30px !important;
    height: 30px;
    font-size: 14px;
  }
  .otp_enter_div > div {
    gap: 3px;
  }
}
