.table_body_user {
  display: block;
  max-height: 80%;
  width: 101%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.heding_div > h1 {
  font-size: 30px;
  font-family: "BeVietnamPro-Medium";
  margin: 0 !important;
  color: var(--main-background-color-dark-green);
}

.table_body_user::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.tabell_bo.table_body_user {
  overflow-x: auto; /* Enable horizontal scrolling */
  display: block; /* Makes sure the div behaves as a block-level element */
}

.addbtn_div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.center_change_div {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--main-background-color-dark-green);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center_change_div > select {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "BeVietnamPro-Medium";
  color: var(--font-black-colour);
}

@media screen and (max-width: 767px) {
  .addbtn_div {
    flex-direction: column;
  }
  .heding_div > h1 {
    font-size: 22px;
  }
  .table > :not(caption) > * > * {
    padding: 0.4rem 0.4rem !important;
    background-color: var(--mdb-table-bg);
    border-bottom-width: 1px;
    font-size: 12px !important;
    box-shadow: inset 0 0 0 9999px var(--mdb-table-accent-bg);
  }
  .btn-sm,
  .btn-group-sm > .btn {
    --mdb-btn-font-size: 10px !important;
  }
}
