.main_div_of_model_body {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.main_div_of_form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.image_upload_div {
  width: 100%;
  height: 200px;
  border: 1px solid var(--main-background-color-dark-green);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input_filed_div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.input_filed_div > label {
  font-size: 18px;
  font-family: "BeVietnamPro-SemiBold";
  color: var(--main-background-color-dark-green);
}

.textarea_field_box {
  width: 100%;
  height: 100px;
  border: 1px solid var(--main-background-color-dark-green);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textarea_field_box > textarea {
  width: 98%;
  height: 90%;
  outline: none;
  border: none;
  resize: none;
}
